export DB_URL=
export DB_USERNAME=
export DB_PASSWORD=

export SAM_CORS_ALLOWED_ORIGINS=

export MAIL_HOST=
export MAIL_PORT=
export MAIL_USERNAME=
export MAIL_PASSWORD=

export JWT_SECRET=
export TOKEN_URL=
export CLIENT_SECRET=
export CLIENT_ID=
export KEYCLOAK_REALM=
export SERVER_URL=

export CERTS=

export ISSUER_URI=